.bk-brands-section {
  background: #eaeded;
  padding: 0 3% 20px;
}

.bk-brands-container {
  max-width: 1450px;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.bk-brands-heading {
  padding: 22px 24px 17px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  gap: 20px;
}

.bk-brands-heading h2 {
  margin: 0;

  color: #172033;

  font-size: 27px;
}

.bk-brands-heading p {
  margin: 5px 0 0;

  color: #64748b;

  font-size: 13px;
}

.bk-brands-heading button {
  border: none;

  background: transparent;

  color: #1677c8;

  font-weight: 700;

  cursor: pointer;

  white-space: nowrap;
}

.bk-brands-heading button:hover {
  text-decoration: underline;
}

/* BRAND GRID */

.bk-brands-grid {
  padding: 5px 22px 25px;

  display: grid;

  grid-template-columns:
    repeat(4, minmax(0, 1fr));

  gap: 12px;
}

.bk-brand-box {
  min-height: 145px;

  padding: 22px;

  border: 1px solid #e5e7eb;

  border-radius: 7px;

  background:
    linear-gradient(
      135deg,
      #ffffff,
      #f8fafc
    );

  cursor: pointer;

  transition: 0.2s;
}

.bk-brand-box:hover {
  transform: translateY(-3px);

  box-shadow:
    0 6px 18px
    rgba(0, 0, 0, 0.1);

  border-color: #bfdbfe;
}

.bk-brand-name {
  min-height: 50px;

  display: flex;
  align-items: center;

  color: #123b7a;

  font-size: 25px;
  font-weight: 900;
}

.bk-brand-box p {
  margin: 5px 0 13px;

  color: #64748b;

  font-size: 11px;

  line-height: 1.4;
}

.bk-brand-box span {
  color: #1677c8;

  font-size: 11px;

  font-weight: 700;
}

/* TABLET */

@media (max-width: 900px) {
  .bk-brands-grid {
    grid-template-columns:
      repeat(2, minmax(0, 1fr));
  }
}

/* MOBILE */

@media (max-width: 600px) {
  .bk-brands-section {
    padding:
      0 10px 10px;
  }

  .bk-brands-heading {
    padding:
      17px 14px 12px;
  }

  .bk-brands-heading h2 {
    font-size: 20px;
  }

  .bk-brands-heading p {
    font-size: 10px;
  }

  .bk-brands-heading button {
    font-size: 10px;
  }

  .bk-brands-grid {
    padding:
      3px 8px 15px;

    grid-template-columns:
      repeat(2, minmax(0, 1fr));

    gap: 7px;
  }

  .bk-brand-box {
    min-height: 125px;

    padding: 15px 12px;
  }

  .bk-brand-name {
    min-height: 42px;

    font-size: 20px;
  }

  .bk-brand-box p {
    min-height: 29px;

    margin: 3px 0 9px;

    font-size: 9px;
  }

  .bk-brand-box span {
    font-size: 9px;
  }
}