.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
    background:#0d47a1;
}

.logo p{
  margin:0;
  color:#dbeafe;
  font-size:12px;
}

.navbar input{
    width:40%;
    padding:12px;
    border-radius:30px;
    border:none;
    outline:none;
    font-size:16px;
}

.nav-buttons button{
    margin-left:10px;
    padding:10px 18px;
    border:none;
    border-radius:20px;
    cursor:pointer;
    font-weight:bold;
}

.nav-buttons button:hover{
    background:orange;
    color:white;
}